
$bluedark: #003366;
$bluelight: #8FD0D6;
$white: #ffffff;

$pad: 20px;
$vidhigh: 700px;

*{
    margin: 0px;
    font-family: roboto, sans-serif;
    color: $bluedark;
}

p{
    font-size: large;
    padding: $pad;
}

h2{
    font-size: xx-large;
}

h3{
    font-size: x-large;
}

.logo{
    height: 50px;
    width: calc(100% - $pad * 2);
    text-align: center;
    margin-bottom: -90px;
    img{
        height: 100%;
    }
}

.pad{
    padding: $pad;
}

.notop{
    padding-top: 0px !important;
}

.moretop{
    padding-top: calc($pad * 2) !important;
}

.dark{
    background-color: $bluedark;
    h2{
        color: $white;
    }
    h3{
        color: $bluelight;
    }
    p{
        color: $white;
    }
    b{
        color: $white;
    }
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.half{
    background-color: rgba($color: $bluedark, $alpha: 0.5);
    
}

.lines{
    margin-top: $pad;
    background-image: url(assets/lines.svg);
    background-size: cover;
    background-position: center;
}

.line1{
    height: 225px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.line2{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: -300px;
}

.conbox{
    div{
        display: flex;
        justify-content: end;
        div{
            background-color: $white;
            width: 80px;
            height: 80px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 50px;
            }
        }
    }
}

.boxblue{
    background-color: $bluedark !important;
}

.social{
    display: flex;
    justify-content: space-evenly;
    i{
        font-size: 50px;
        color: $white !important;
    }
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bluelight{
    a{
        color: $bluelight !important;
    }
}

#button{
    background-color: $bluelight;
    border: solid $bluedark 5px;
    border-radius: 25px;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: $bluedark;
    box-shadow: 0px 0px 0 0px $bluelight;

    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.2s ease-in-out;
    &:hover{
        //border-color: $bluelight;
        //background-color: $white;
        //color: $bluelight;
        box-shadow: 0px 0px 0 25px rgba($color: $bluelight, $alpha: 0);
    }
}

#vid{
    height: $vidhigh;

    video{
        z-index: -1;
        height: 100%;
        align-self: center;
    }

    h2{
        padding: $pad;
        position: absolute;
    }
    
    .dark{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
}

#lm{
    width: 50%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#totop{
    background-color: rgba($color: $bluelight, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    text-decoration: none;
    i{
        color: $white;
        font-size: larger;
    }
}

@media screen and (min-width: 600px) {
    .flex{
        flex-direction: row;
        
    }

    .conbox{
        align-self: end;
    }

    .lm{
        padding: $pad;
        padding-top: calc($pad * 2);
        order: -1;
    }

    #lm{
        width: 200px;
    }

    #combine{
        background-image: url(assets/combineline.svg);
        background-size: 650px;
        background-position-x: calc(50% - 50px);
        background-position-y: -100px;
        background-repeat: no-repeat;
    }

    .line2{
        opacity: 0%;
    }
}

@media screen and (min-width: 1000px) {
    .pad{
        padding: calc($pad * 2);
    }
    
    #vid{
        h2{
            padding: calc($pad * 2);
        }
    }
    
    #vid{
        height: 937px;
    }

    .marrig{
        margin-left: 10%;
    }

    .marlef{
        margin-right: 10%;
    }

    .marbot{
        margin-left: 10%;
        margin-right: 10%;
    }

    p{
        font-size: larger;
    }

    h2{
        font-size: xxx-large;
    }

    h3{
        font-size: xx-large;
    }

    .logo{
        margin-bottom: -130px;
        width: calc(100% - $pad * 4);
    }

    #combine{
        background-position-y: -40px;
    }
    .conbox{
        div{
            div{
                height: 120px;
                width: 120px;
            }
        }
    }
    
}


@media screen and (min-width: 1680px) {
    #vid{
        video{
            height: auto;
            width: 100%;
        }
    }
    
}